<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Export Editor - {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='hc-export-editor.png')}}"/>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet"/>
  </head>
  <body>
    <h1>Export Editor</h1>

    <div id="contents">
      {% if notify %}
      <div class="notify">{{notify}}</div>
      {% endif %}

      <div class="stretch">

        <!------------------------------------------------------------------------>
        <div class="header">
          <div class="left">
            <h2>{{ self.title() }}</h2>
          </div>
        </div> <!-- header -->

        <!------------------------------------------------------------------------>
        <div class="main">

        {% block body %}{% endblock %}

        </div><!-- main -->

        <!------------------------------------------------------------------------>
        <div class="footer">
          <span><a href="{{url_for('exports')}}">Home</a></span>
          <span><a href="{{url_for('help')}}">Help</a></span>
          <span><a href="{{url_for('reload')}}">Reload</a></span>
        </div>

      </div><!-- editor -->
    </div><!-- contents -->
    <script src="{{url_for('static', filename='table_filters.js')}}"></script>
  </body>
</html>

