<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Export Editor - {{export.path.name}}</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='hc-export-editor.png')}}"/>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet"/>
  </head>
  <body>
    <h1>Export Editor</h1>

    <div id="contents">
      <form class="editor stretch" action="{{url_for('modify_export', did=dir.id, eid=export.id)}}" method="post" target="_blank">

        <!------------------------------------------------------------------------>
        <div class="header">
          <div class="left">
            <h2 class="export">File Name: {{export.path.name}}</h2> 
            <div class="dir">Directory: <a href="{{url_for('exports')}}">{{dir.path}}</a></div>
          </div>

          <div class="generate">
            <input type="submit" tabindex="1" value="Generate Modified Export" />
          </div>
        </div> <!-- header -->

        <!------------------------------------------------------------------------>
        <div class="main">
          {% if error %}
          <div class="msg notify">{{error}}</div>
          {% endif %}

          <nav>
            <ol>
              <li><a href="#notes">Export Notes</a></li>
              <li><a href="#toc">Table of Contents</a></li>
              <li><a href="#interfaces">Interface Settings</a></li>
              <li><a href="#tables">Lookup Tables</a></li>
            </ol>
          </nav>

          {% if details.notes %}
          <div class="notes" id="notes">
            <h3>Export Notes
              <input type="text" data-table-selector=".notes-table" class="filter" placeholder="Filter..." autocomplete="off" tabindex="1"/>
            </h3>

            <table class="notes-table">
              <thead>
                <tr>
                  <th>Field</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                {% for note in details.notes %}
                  {% for field, value in note.as_fields() %}
                    <tr>
                      <td>{{field}}</td>
                      <td>{{value}}</td>
                    </tr>
                  {% endfor %}
                {% endfor %}
              </tbody>
            </table>

          </div> <!-- notes -->
          {% endif %}

          {% if details.toc or details.alt_toc %}
          <div class="toc" id="toc">
            {% if not details.toc %}
            <div class="msg notify">No Table of Contents found.  Is this a Production Export?</div>
            {% endif %}

            <h3>Table of Contents
              <input type="text" data-table-selector=".toc-table" class="filter" placeholder="Filter..." autocomplete="off" tabindex="1"/>
            </h3>

            <table class="toc-table">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>

                {% for item in details.toc %}
                  <tr>
                    <td>{{item.type}}</td>
                    <td>{{item.name}}</td>
                  </tr>
                {% endfor %}

                {% for item in details.alt_toc %}
                  <tr>
                    <td>{{item.type}}</td>
                    <td>{{item.name}}</td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>

          </div> <!-- tocs -->
          {% endif %}

          {% if details.interfaces %}
          <div class="interfaces" id="interfaces">
            <h3>Interface Settings
              <input type="text" data-table-selector=".interfaces-table" class="filter" placeholder="Filter..." autocomplete="off" tabindex="1"/>
            </h3>

            <table class="interfaces-table">
              <thead>
                <tr>
                  <th>Interface</th>
                  <th>Setting</th>
                  <th>Current Value</th>
                  <th>New Value</th>
                </tr>
              </thead>
              <tbody>

                {% for interface in details.interfaces %}
                  {% for setting in interface.settings_and_attrs() %}
                    <tr class="{{(loop.last and 'last') or ''}}">
                      {% if loop.first %}
                       <td class="first">{{interface.name}}</td>
                      {% else %}
                       <td class="hidden">{{interface.name}}</td>
                      {% endif %}

                      <td>{{setting.name}}</td>
                      <td class="ellipsis" title="{{setting.value}}">{{setting.value}}</td>

                      <td><input type="text" autocomplete="off" autofocus tabindex="1"
                            name="{{interface.form_name()}}|{{setting.form_name()}}"
                            id="{{interface.name}}.{{setting.name}}"
                            value="{{setting.value}}"/></td>
                    </tr>
                  {% endfor %}
                {% endfor %}

              </tbody>
            </table>

          </div> <!-- interfaces -->
          {% endif %}

          {% if details.tables %}
          <div class="tables" id="tables">
            <h3>
              <span>Lookup Tables</span>
              <input type="text" data-table-selector=".tables-table" class="filter" placeholder="Filter..." autocomplete="off" tabindex="1"/>
            </h3>

            <table class="tables-table">
              <thead>
                <tr>
                  <th>Table</th>
                  <th>Key</th>
                  <th>Current Value</th>
                  <th>New Value</th>
                </tr>
              </thead>
              <tbody>

                {% for table in details.tables %}
                  {% for row in table.rows %}
                    <tr class="{{(loop.last and 'last') or ''}}">
                      {% if loop.first %}
                       <td class="first">{{table.name}}</td>
                      {% else %}
                       <td class="hidden">{{table.name}}</td>
                      {% endif %}

                      <td>{{row.key}}</td>
                      <td class="ellipsis" title="{{row.value}}">{{row.value}}</td>

                      <td><input type="text" autocomplete="off" autofocus tabindex="1"
                            name="{{table.form_name()}}|{{row.form_name()}}"
                            id="{{table.name}}.{{row.key}}"
                            value="{{row.value}}"/></td>
                    </tr>
                  {% endfor %}
                {% endfor %}

              </tbody>
            </table>

          </div> <!-- tables -->
          {% endif %}
          <div class="padding"></div>
        </div> <!-- main -->

        <!------------------------------------------------------------------------>
        <div class="footer">
          <span><a href="{{url_for('exports')}}">Home</a></span>
          <span><a href="{{url_for('help')}}">Help</a></span>
          <span><a href="{{url_for('reload')}}">Reload</a></span>
        </div>
      </form>

    </div> <!-- contents -->
    <script src="{{url_for('static', filename='table_filters.js')}}"></script>
  </body>
</html>

